*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    background: #222;
}

.card {
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg, #00feba, #5b548a);
    color: #fff;
    margin: 50px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}

.search {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input {
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}

.search button {
    min-height: 60px;
    min-width: 60px;
    max-height: 60px;
    max-width: 60px;
    background: #ebfffc;
    border-radius: 30px;
    font-size: 10px;
    cursor: pointer;
    border: 0;
    outline: 0;
}

.search button img{
    width: 20px;
}

.weather-icon {
    width: 170px;
    margin-top: 30px;
}

.weather h1 {
    font-size: 80px;
    font-weight: 500;
}

.weather h2 {
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}

.col{
    display: flex;
    align-items: center;
    text-align: left;
}

.col img {
    width: 40px;
    margin-right: 10px;
}

.humidity, .wind {
    font-size: 28px;
    margin-top: -6px;
}

.error {
    text-align: left;
    color: red;
    margin-top: 5px;
    margin-left: 10px;
    display: none;
}

@media (max-width: 650px) {
    *{
        margin: 0;
        padding: 0;
        font-family: sans-serif;
        box-sizing: border-box;
    }
    
    body {
        background: #222;
    }
    
    .card {
        width: 90%;
        max-width: 470px;
        background: linear-gradient(135deg, #00feba, #5b548a);
        color: #fff;
        margin: 50px auto 0;
        border-radius: 20px;
        padding: 40px 35px;
        text-align: center;
    }
    
    .search {
        width: 100px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .search input {
        border: 0;
        outline: 0;
        background: #ebfffc;
        color: #555;
        padding: 10px 25px;
        height: 60px;
        border-radius: 30px;
        flex: 1;
        margin-right: 16px;
        font-size: 18px;
    }
    
    .search button {
        min-height: 60px;
        min-width: 60px;
        max-height: 60px;
        max-width: 60px;
        background: #ebfffc;
        border-radius: 30px;
        font-size: 10px;
        cursor: pointer;
        border: 0;
        outline: 0;
    }
    
    .search button img{
        width: 20px;
    }
    
    .weather-icon {
        width: 170px;
        margin-top: 30px;
    }
    
    .weather h1 {
        font-size: 80px;
        font-weight: 500;
    }
    
    .weather h2 {
        font-size: 45px;
        font-weight: 400;
        margin-top: -10px;
    }
    
    .details {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
        margin-top: 50px;
    }
    
    .col{
        display: flex;
        align-items: center;
        text-align: left;
    }
    
    .col img {
        width: 40px;
        margin-right: 10px;
    }
    
    .humidity, .wind {
        font-size: 28px;
        margin-top: -6px;
    }
    
    .error {
        text-align: left;
        color: red;
        margin-top: 5px;
        margin-left: 10px;
        display: none;
    }
}

@media (max-width: 393px) {
    *{
        margin: 0;
        padding: 0;
        font-family: sans-serif;
        box-sizing: border-box;
    }
    
    body {
        background: #222;
    }
    
    .card {
        width: 95%;
        max-width: 550px;
        background: linear-gradient(135deg, #00feba, #5b548a);
        color: #fff;
        margin: 10% auto 0;
        border-radius: 20px;
        padding: 40px 55px;
    }
    
    .search {
        width: 100px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .search input {
        border: 0;
        outline: 0;
        background: #ebfffc;
        color: #555;
        padding: 30px 20px;
        height: 0px;
        border-radius: 30px;
        flex: 1;
        margin-left: -35%;
        font-size: 18px;
    }
    
    .btn{
        min-height: 60px;
        min-width: 60px;
        max-height: 60px;
        max-width: 60px;
        background: #ebfffc;
        border-radius: 30px;
        font-size: 10px;
        cursor: pointer;
        border: 0;
        outline: 0;
        margin-left: -5%;
    }
    
    .search button img{
        width: 20px;
    }
    
    .weather-icon {
        width: 170px;
        margin-top: 30px;
    }
    
    .weather h1 {
        font-size: 80px;
        font-weight: 500;
    }
    
    .weather h2 {
        font-size: 45px;
        font-weight: 400;
        margin-top: -10px;
    }
    
    .details {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
        margin-top: 50px;
    }
    
    .col{
        display: flex;
        align-items: center;
        text-align: left;
    }
    
    .col .win{
        width: 35px;
        margin-left: -5%;
    }

    .ekuku {
        margin-left: -5%;
    }

    .col .hum{
        width: 35px;
        margin-left: -30%;
    }

    .um {
        margin-left: -5%;
    }
    
    .humidity, .wind {
        font-size: 28px;
        margin-top: -6px;
    }
    
    .error {
        text-align: left;
        color: red;
        margin-top: 5px;
        margin-left: 10px;
        display: none;
    }
}

@media (max-width: 360px) {
    *{
        margin: 0;
        padding: 0;
        font-family: sans-serif;
        box-sizing: border-box;
    }
    
    body {
        background: #222;
    }
    
    .card {
        width: 95%;
        max-width: 550px;
        background: linear-gradient(135deg, #00feba, #5b548a);
        color: #fff;
        margin: 10% auto 0;
        border-radius: 20px;
        padding: 40px 55px;
    }
    
    .search {
        width: 100px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .search input {
        border: 0;
        outline: 0;
        background: #ebfffc;
        color: #555;
        padding: 30px 20px;
        height: 0px;
        border-radius: 30px;
        flex: 1;
        margin-left: -45%;
        font-size: 16px;
    }
    
    .btn{
        min-height: 60px;
        min-width: 60px;
        max-height: 60px;
        max-width: 60px;
        background: #ebfffc;
        border-radius: 30px;
        font-size: 10px;
        cursor: pointer;
        border: 0;
        outline: 0;
        margin-left: -10%;
    }
    
    .search button img{
        width: 20px;
    }
    
    .weather-icon {
        width: 170px;
        margin-top: 30px;
    }
    
    .weather h1 {
        font-size: 80px;
        font-weight: 500;
    }
    
    .weather h2 {
        font-size: 45px;
        font-weight: 400;
        margin-top: -10px;
    }
    
    .details {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
        margin-top: 50px;
    }
    
    .col{
        display: flex;
        align-items: center;
        text-align: left;
    }
    
    .col .win{
        width: 35px;
        margin-left: -5%;
    }

    .ekuku {
        margin-right: -80%;
    }

    .col .hum{
        width: 35px;
        margin-left: -50%;
    }

    .um {
        margin-left: -5%;
    }
    
    .humidity, .wind {
        font-size: 28px;
        margin-top: -6px;
    }
    
    .error {
        text-align: left;
        color: red;
        margin-top: 5px;
        margin-left: 10px;
        display: none;
    }
}


@media (max-width: 353px) {
    *{
        margin: 0;
        padding: 0;
        font-family: sans-serif;
        box-sizing: border-box;
    }
    
    body {
        background: #222;
    }
    
    .card {
        width: 95%;
        max-width: 490px;
        background: linear-gradient(135deg, #00feba, #5b548a);
        color: #fff;
        margin: 50px auto 0;
        border-radius: 20px;
        padding: 40px 35px;
        text-align: center;
    }
    
    .search {
        width: 100px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .search input {
        border: 0;
        outline: 0;
        background: #ebfffc;
        color: #555;
        padding: 30px 20px;
        height: 60px;
        border-radius: 30px;
        flex: 1;
        margin-left: -20%;
        font-size: 16px;
    }
    
    .btn{
        min-height: 60px;
        min-width: 60px;
        max-height: 60px;
        max-width: 60px;
        background: #ebfffc;
        border-radius: 30px;
        font-size: 10px;
        cursor: pointer;
        border: 0;
        outline: 0;
        margin-left: -10%;
    }
    
    .search button img{
        width: 20px;
    }
    
    .weather-icon {
        width: 170px;
        margin-top: 30px;
    }
    
    .weather h1 {
        font-size: 80px;
        font-weight: 500;
    }
    
    .weather h2 {
        font-size: 45px;
        font-weight: 400;
        margin-top: -10px;
    }
    
    .details {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
        margin-top: 50px;
    }
    
    .col{
        display: flex;
        align-items: center;
        text-align: left;
    }
    
    .col .win{
        width: 35px;
        margin-right: 55px;
    }

    .ekuku {
        margin-left: -50px;
    }

    .col .hum{
        width: 35px;
        margin-left: -30%;
    }

    .um {
        margin-left: -5%;
    }
    
    .humidity, .wind {
        font-size: 28px;
        margin-top: -6px;
    }
    
    .error {
        text-align: left;
        color: red;
        margin-top: 5px;
        margin-left: 10px;
        display: none;
    }
}